* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.page-rigth {
  position: absolute;
  width: 50%;
  height: 100vh;
  right: 0;
  top: 0px;
  background: #79aaf3;
}

.loginhead {
  width: 750px;
  height: 30px;
  margin-left: 82px;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loginhead h3 span {
    font-weight: 900;
}